    <div *ngIf="content">
      <h2>{{content.common.title}}</h2>
      <hr/>
      <h3>{{content.input.subtitle}}</h3>
      <span>{{content.input.lblDisclaimer1}}</span>
      <br/><br/>

      {{ content.common.lblFromAccount}}
      <select [(ngModel)]="fromAccount">
        <option value="-1">Select Account</option>

        <option *ngFor="let account of accounts" value="{{ account.id }}">
          {{ account.accountLabel }}
        </option>
      </select>

      <br/><br/>
      {{ content.common.lblToAccount}}
      <select [(ngModel)]="toAccount">
        <option value="-1">Select Account</option>
        <option *ngFor="let account of accounts" value="{{ account.id }}">
          {{ account.accountLabel }}
        </option>
      </select>

      <br/><br/>

      {{ content.input.lblFromAmount}}
      <input type="text">

      <br/><br/>
      {{ content.input.lblToAmount}}
      <input type="text">

      <br/><br/>
      {{ content.input.lblBottomDisclaimer1 }}

      <br/><br/>
      {{ content.input.lblBottomDisclaimer2 }}
      <br/><br/>
      <button (click)="proceedRecap()">{{content.input.lblBtnSubmit}}</button>
    </div>
